@media handheld, only screen and (min-width: 1720px) and (max-width: 1920px) {
    #main {
        #principal {
            .lampara { left: 44%; }
        }
    }
}

@media handheld, only screen and (min-width: 1440px) {
    #main {
        #principal {
            .menu_hamburguesa { top: 22vh; }
        }
    }
}

@media handheld, only screen and (min-width: 768px) and (max-width: 1024px) {
    
}

@media handheld, only screen and (min-width: 768px) and (max-width: 1023px) {
    
}

@media handheld, only screen and (max-width: 736px) {
	
}

@media handheld, only screen and (max-width: 425px) {
    header {
        position: fixed;
        z-index: 99;

        .logoleft_responsive {
            position: relative;
            left: 3%;
            img {
                width: 55px;
            }
        }
        .header-logo {
            margin: 0 auto;
            position: absolute;
            top: 7px;
            width: 100%;
            left: 0;

            a {
                img {
                    margin: 0 auto;
                    width: 54%; 
                }
            }
        }
    }

    footer {
        padding: 2px 0;
        text-align: center;

        .nav_redes { margin: 6px 0; position: initial; }
    }

    #main {
        padding-bottom: 75px;
        padding-top: 51px;

        #categorias {
            .categorias {
                .categorias_list {
                    .categoria {
                        width: 50%;

                        .content {
                            .dats {
                                .categoria_nombre {
                                    line-height: 27px;
                                    padding: 0 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #categoria {
            .productos {
                .producto {
                    width: 50%;

                    .content {
                        .footer {
                            .titulo {
                                line-height: 27px;
                            }
                        }
                    }

                    .producto_img {
                        img {
                            width: 79%;
                        }
                    }

                    &:nth-child(3),
                    &:nth-child(4),
                    &:nth-child(7),
                    &:nth-child(8),
                    &:nth-child(11),
                    &:nth-child(12) { background: url('#{$bg}bg-productos.png') center no-repeat; }

                    &:nth-child(2),
                    &:nth-child(5),
                    &:nth-child(6),
                    &:nth-child(0),
                    &:nth-child(10) { background: url('#{$bg}bg-productos-recomendados.png') center no-repeat; }
                    &:first-child   { display: none; }
                }
            }
        }
        #buscando {
            .buscando {
                padding: 21px 6% 65px;
                position: relative;

                .buscando_titulo {
                    margin: 0 0 24px;
                    padding-left: 50px;
                }

                .volver_general {
                    position: absolute;
                    top: 31px;
                }
            }
            .resultados_busqueda {
                .mas_buscados {
                    .titulo_buscados {
                        margin: 0 0 29px;
                    }
                }
            }
        }
        #buscar {
            .buscar_contenido {
                padding: 26px 0 60px;

                form {
                    .opciones {
                        .input {
                            margin: 0 20px;

                            select {
                                min-width: 150px;
                            }
                        }
                    }
                }

                .filtros_titulo {
                    font-size: 30px;
                    margin: 25px 0 27px;
                }
            }
        }
        #lonuevo {
            .lonuevo_contenido {
                padding: 0 0 60px;

                .owl-carousel {
                    .owl-item {
                        .item {
                            .articulo {
                                .contenido {
                                    .bg-black {
                                        .footer {
                                            .single_titulo {
                                                font-size: 34px;
                                            }
                                        }
                                    }
                                }
                            }

                            .big {
                                img {
                                    height: 288px;
                                }
                            }
                        }
                    }
                }

                .titulo {
                    background: transparent;
                    height: auto;
                    position: relative;
                    width: 100%;

                    a {
                        float: left;
                        left: -13px;
                        position: relative;
                        top: 2px;
                    }

                    .titulo_section {
                        font-size: 35px;
                        margin: 0;
                        padding: 24px 0;
                    }
                }
            }
        }
        #lonuevo_single {
            #articulo {
                padding: 37px 0 84px;
                
                .articulo_contenido {
                    .articulo_header {
                        .articulo_titulo {
                            margin-bottom: 57px;
                            padding-left: 15%;
                        }
                        .redes {
                            top: 50px;
                        }
                    }
                    .interesar {
                        .titulo_interesar {
                            font-size: 36px;
                        }
                    }
                    .sidebar {
                        margin-top: 43px;

                        .recomendados {
                            .img-banner {
                                img { height: auto; width: 100%; }
                            }
                            .recomendados_productos {
                                .recomendados_producto {
                                    .producto {
                                        img { margin: 16px auto 23px; width: 60%; }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        #mapa {
            .mapa_contenido {
                .informacion {
                    left: 0;
                    max-width: 100%;
                    right: initial;
                    width: 100%;
                }
            }
        }
        #principal {
            .lampara {
                left: 0;
                text-align: center;
                top: 2.3%;
                width: 100%;

                img {
                    left: -1px;
                    position: relative;
                    top: -8px;
                    width: 40%;
                }

                &::before {
                    height: 17px;
                    left: 49%;
                    top: -12%;
                }
            }

            .menu_hamburguesa {
                left: 0;
                top: 12%;
                width: 100%;
            }
        }
        #producto {
            .producto {
                .dats {
                    padding-left: 0;
                }

                .producto_single {
                    .img {
                        height: auto;
                        min-height: 337px;
                        padding: 21% 58px 0;
                        width: 100%;

                        img {
                            position: initial;
                        }
                    }
                }
            }
        }
        #productos_home {
            .content {
                .nuevos {
                    padding: 0 19px;

                    .owl-carousel-lonuevo {
                        box-shadow: 0px 6px 37px 0px #000;
                    }
                }

                .recomendados {
                    .recomendados_productos {
                        margin: 0 auto;
                        text-align: center;

                        .recomendados_producto {
                            display: inline-block;
                            float: none;
                            height: 187px;
                            margin: 0 auto;
                            width: 47%;

                            .producto {
                                img {
                                    margin: 11px auto 24px;
                                    width: 76%;
                                }
                            }
                        }
                    }
                }
            }
        }
        #hoy_quiero {
            box-shadow: none;
            .banner_dinos {
                .banner_opciones {
                    text-align: center;
                    .banner_opcion {
                        width: 40%;

                        .opcion_titulo {
                            font-size: 24px;
                        }

                        &:nth-last-child(3) {
                            .start { display: none; }
                        }
                    }
                }
            }
        }
        #sistemap {
            .menu_sistemap {
                .items {
                    padding: 0 0 0 31%;

                    .item {
                        display: block;
                        width: 100%;

                        a {
                            &::after {
                                top: 11%;
                                left: -34%;
                            }
                        }

                        
                        &:last-child,
                        &:nth-child(3) {
                            a {
                                &::after { content: ''; }
                            }
                        }
                    }
                }
            }
        }
    }

    #main-menu {
        z-index: 9;

        .nav_ppal {
            background: rgb(40,35,35);
            left: 0;
            padding-top: 27%;
            top: -115%;
            width: 100%;

            .item_nav {
                background: rgb(40,35,35);
                height: auto !important;
                margin: 10px 0;
                padding: 0;
                width: 100%;

                a { letter-spacing: 2px; padding: 0; }

                &:hover { transform: none; }

                a::before,
                a::after { content: none; height: auto; }
            }
        }

        .nav_second {
            background-color: #353434;
            bottom: 60px;
            text-align: center;
        }
    }
}
