$white  : #fff;
$black  : #000;
$red    : #481210;
$cafe   : #4f3111;
$yellow : #fbba00;

$lunch 	  : 'LunchBox';
$icons 	  : 'LunchBoxOrnaments';
$light 	  : 'LunchBoxLight';
$bold  	  : 'LunchBoxBold';
$roboto   : 'Roboto-Regular';
$sregular : 'RobotoSlab-Regular';
$sbold    : 'RobotoSlab-Bold';
$corral   : 'Corral-HeadLine';


$img : '../images/';
$bg  : '../images/backgrounds/';
$ico : '../images/icons/';