footer {
	background-color: #fff;
	bottom: 0%;
	padding: 14px 0;
	position: fixed;
	width: 100%;
	z-index: 20;

	.copyright {
		color: #606060;
		font-size: 14px;
		margin: 0 auto;
		font-family: $roboto;
		text-align: center;
		width: 100%;
	}

	.nav_redes {
		bottom: 24%;
		right: 5%;
		position: absolute;

		ul {
			margin: 0;
			padding: 0;

			li {
				background-color: #69311e;
				border-radius: 50%;
				display: inline-block;
				list-style: none;
				height: 25px;
				margin: 0 3px;
				padding-top: 3px;
				text-align: center;
				width: 25px;

				a {
					padding: 5px;

					i {
						color: $white;
					}
				}
			}
		}
	}
}