header {
	background: url("#{$bg}/bg-header.png") center no-repeat;
	background-size: cover !important;
	padding: 21px 0 18px;
	position: relative;
	box-shadow: 0px 0px 14px 0px #000;
	margin-bottom: 6px;
	z-index: 4;
	width: 100%;

	.header-logo {
		float: left;
		position: relative;
		right: 30px;

		a {
			img {
				width: 100%;
			}
		}
	}

	.open-nav-responsive {
		position: absolute;
		right: 4%;
		top: 25%;

		.line {
			background-color: #4f3111;
			border-radius: 20px;
			box-shadow: -2px 3px 10px -3px #000;
			height: 9px;
			margin-bottom: 4px;
			position: relative;
			width: 50px;
			transition: all .2s linear;
		}
	}

	.open-responsive {
		.l1 {
			-webkit-transform: rotate(131deg);
			transform: rotate(131deg);
			top: 20px;
		}
		.l2 {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			top: 8px;
		}
		.l3 {
			-webkit-transform: rotate(45deg);
			transform: rotate(45deg);
			top: -6px;
		}
	}
}