#main {
	.owl-nav {
		display: block;
		position: absolute; 
		top: 50%;
		width: 100%;
		z-index: 1;

		button {
			background-color: $white;
			border-radius: 50%;
			height: 40px;
			position: absolute;
			width: 40px;
			transition: all .2s linear;

			span {
				color: $red;
				font-size: 28px;
				font-weight: 800;
				position: relative;
				top: -3px;
			}

			&:hover {
				background-color: $yellow; 
			}
		}
		
		.owl-next { right: 5%; }
		.owl-prev { left: 5%; }
	}
	#buscar {
		.buscar_contenido {
			background: url('#{$bg}bg-buscar.png') center no-repeat;
			background-size: cover !important;
			box-shadow: 0px 0px 45px 6px #000;
			padding: 57px 0 97px;
			position: relative;

			form {
				text-align: center;
				width: 100%;
				
				.opciones {
					margin: 0;
					padding: 0;

					.input {
						display: inline-block;
						margin: 0 30px;
						padding: 0;
						position: relative;
						text-align: center;


						select {
							color: $red;
							background-color: #fdf5e3;
							border-radius: 20px;
							font-family: $roboto;
							margin-top: 10px;
							min-width: 200px;
							padding: 10px 15px;
							position: relative;
							appearance: none;
							 -moz-appearance: none;
							-webkit-appearance: none;

							option {
								background-color: #fdf5e3;
								color: $red;
								font-family: $roboto;
							}

						}

						&::before {
							content: "";
							background: url('#{$ico}arrow-down.png') center no-repeat;
							height: 9px;
							right: 16px;
							top: 48px;
							position: absolute;
							width: 16px;
							z-index: 9;
						}

						.label {
							color: #fdf5e3;
							font-family: $sregular;
							font-size: 18px;
							font-weight: 100;
						}
					}
				}
			}

			.btn_buscar {
				bottom: -12px;
				position: absolute;
				text-align: center;
				z-index: 9;
				width: 100%;

				a {
					color: $red;
					background-color: #e76b48;
					border-radius: 20px;
					font-size: 18px;
					padding: 15px 30px;
					text-decoration: none;
				}
			}

			.buscar_titulo {
				color: #e76b48;
				font-family: $bold;
				font-size: 35px;
				text-align: center;
				text-transform: uppercase;

				small {
					color: #e76b48;
					font-family: $sregular;
					font-size: 16px;
					text-transform: initial;
				}
			}

			.filtros {
				margin: 0;
				padding: 0 2%;
				text-align: center;

				.filtro {
					display: inline-block;
					list-style: none;
					margin-bottom: 17px;

					label {
						cursor: pointer;
						display: inline-block;
						border: solid #211915 1px;
						background-color: #ead9b1;
						border-radius: 20px;
						color: $red;
						font-family: $bold;
						font-size: 19px;
						margin: 0 5px;
						padding: 10px;
						text-align: center;
						transition: all .2s linear;
						text-transform: uppercase;
						width: 153px;

						&:hover {	
							background-color: #e76b48;
							border-color: #e76b48;
							
							.titulo {
								color: $white;
							}
						}

					}

					.parqueaderos,
					.wifi,
					.fiestas,
					.parques,
					.desayunos,
					.heladería {
						input[type=radio] {	

							&:checked {
								label:parent {
									background-color: #e76b48;
									border-color: #e76b48;
								}
								
								.titulo {
									color: $white;
								}
							}
						}
					}
				}
			}

			.filtros_titulo {
				color: #fdf5e3;
				font-family: $bold;
				font-size: 35px;
				margin: 69px 0 50px;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
	#buscando {
		.buscando {
			background: url('#{$bg}bg-productos.png') center no-repeat;
			background-size: cover !important;
			box-shadow: 2px 5px 40px -5px #000;
			padding: 50px 12% 70px;
			position: relative;
			width: 100%;

			form {
				label { position: relative; }

				i {
					color: #c7baa6;
					position: absolute;
					left: 13px;
					font-size: 22px;
					top: 7px;
				}

				input[type=search] {
					border: dashed $white 1px;
					background-color: rgba(#3b220b, 0.8);
					color: #b09a80;
					font-family: $sregular;
					font-size: 14px;
					font-weight: 800;
					padding: 7px 10px;
					padding-left: 48px;
					width: 272px;

					&::placeholder {
						color: #b09a80;
						font-family: $sregular;
						font-size: 14px;
						font-weight: 800;
					}
				}
				input[type=submit] {
					background-color: #e76b48;
					border: none;
					border-radius: 20px;
					bottom: -25px;
					left: 26%;
					color: $red;
					font-size: 18px;
					padding: 13px 45px;
					position: absolute;
				}
			}

			.buscando_titulo {
				color: #fdf5e3;
				margin: 0 0 50px;
				font-family: $bold;
				font-size: 30px;
				letter-spacing: 1px;
				text-transform: uppercase;
			}
		}

		.sin_resultados {
			ul {
				margin: 50px 0 0;
				padding: 0 10%;
				
				li {
					color: $red;
					list-style: none;
					font-family: $sregular;
					font-size: 16px;
					margin: 15px 0;
					position: relative;

					i {
						margin-right: 20px;
						left: -25px;
						top: 3px;
						position: absolute;
					}
				}
			}
			.titulo_sin {
				color: $red;
				font-family: $sregular;
				font-size: 16px;
				font-weight: 800;
				text-transform: uppercase;
			}
		}

		.resultados {
			ul {
				margin: 0;
				padding: 0;

				li {
					border-bottom: dashed $red 1px;
					list-style: none;
					margin-bottom: 28px;
					padding: 0 3% 28px;
					position: relative;

					a {
						text-decoration: none;

						img {
							float: left;
							margin-right: 23px;
						}
	
						.contenido {
							.descripcion {
								color: $red;
								font-size: 14px;
								font-family: $roboto;
							}
	
							.precio {
								color: $red;
								font-family: $bold;
								font-size: 22px;
								text-transform: uppercase;
							}
	
							.titulo_producto {
								color: $red;
								font-family: $bold;
								font-size: 30px;
								text-transform: uppercase;
							}
						}
					}

				}
			}
			.titulo {
				color: $red;
				font-family: $sregular;
				font-size: 16px;
				margin-bottom: 34px;
			}
		}

		.resultados_busqueda {
			background: url('#{$bg}bg-lonuevo.png') center no-repeat;
			background-size: cover !important;
			padding: 80px 10% 100px;

			.mas_buscados {
				ul {
					margin: 0;
					padding: 0;

					li {
						border-bottom: dashed $red 1px;
						list-style: none;
						margin-bottom: 28px;
						padding: 0 3% 28px;
						position: relative;

						i {
							color: $red;
							position: absolute;
							right: 3%;
							bottom: 19%;
							font-size: 28px;
						}

						.content {
							color: $red;
							font-size: 14px;
							font-family: $roboto;
						}
					}
				}
				.titulo_buscados {
					color: $red;
					font-family: $bold;
					text-transform: uppercase;
					margin: 0 0 61px;
				}
			}
		}
	}
	#categorias {
		padding-bottom: 60px; 
		position: relative;
		width: 100%;

		.volver {
			color: $red;
			font-family: $bold;
			font-size: 30px;
			padding: 10px 20px;
			text-transform: uppercase;

			a {
				text-decoration: none;
				position: relative;
				left: -10px;
				span {
					border-radius: 50%;
					background-color: #4f3111;
					color: #fff;
					font-size: 22px;
					font-weight: 800;
					font-family: LunchBoxBold;
					padding: 4px 13px 2px 12px;
					position: relative;
					text-decoration: none;
					top: -4px;
					left: -7px;
				}
			}
		}

		.categorias {
			width: 100%;

			.categorias_list {
				margin: 0;
				padding: 0;
				width: 100%;

				.categoria {
					float: left;
					list-style: none;
					margin: 0;
					padding: 0;
					position: relative;
					width: 25%;

					.content {
						background-size: cover !important;
						background-position: center bottom !important;
						height: 100%;
						position: relative;
						width: 100%;

						.dats {
							background: rgba(84,45,0,0);
							background: -moz-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
							background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(84,45,0,0)), color-stop(43%, rgba(81,35,8,0)), color-stop(100%, rgba(76,22,19,1)));
							background: -webkit-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
							background: -o-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
							background: -ms-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
							background: linear-gradient(to bottom, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cafe', endColorstr='#4c1613', GradientType=0 );
							height: 100%;
							left: 0;
							position: abosulte;
							text-align: center;
							top: 0;
							width: 100%;
							transition: all .2s linear;

							.categoria_nombre {
								bottom: 10%;
								color: $white;
								font-family: $bold;
								font-size: 22px;
								position: absolute;
								text-align: center;
								text-transform: uppercase;
								width: 100%;
								transition: all .2s linear;
							}

							.more {
								position: relative;
								top: 0;
								opacity: 0;
								visibility: hidden;
								transition: all .2s linear;

								a {
									color: $cafe;
									background-color: $white;
									border-radius: 50%;
									padding: 10px 12px;
									transition: all .2s linear;

									&:hover {
										background-color: $yellow;
									}
								}
							}
							
							&:hover {
								background-color: rgba(84,45,0, .90);

								.categoria_nombre { bottom: 30%; }

								.more {
									opacity: 1;
									top: 73px;
									visibility: visible;
								}
							}
						}
					}
				}
			}
		}
	}
	#categoria {
		padding-bottom: 60px;

		.volver {
			color: $white;
			font-family: $bold;
			font-size: 30px;
			letter-spacing: 2px;
			background: url('#{$bg}bg-productos-recomendados.png');
			padding: 13px;
			text-transform: uppercase;
	
			a {
				text-decoration: none;
				span {
					border-radius: 50%;
					background-color: #4f3111;
					color: #fff;
					font-size: 22px;
					font-weight: 800;
					font-family: LunchBoxBold;
					padding: 4px 13px 2px 12px;
					position: relative;
					text-decoration: none;
					top: -4px;
					left: -7px;
				}
			}
		}

		.productos {
			margin: 0;
			padding: 0;

			.producto {
				background: url('#{$bg}bg-productos-recomendados.png') center no-repeat;
				background-size: cover;
				float: left;
				list-style: none; 
				margin: 0;
				padding: 56px 0;
				position: relative;
				width: 25%;

				.cat {
					.cat_name {
						color: $red;
						font-family: LunchBoxBold,san-serif;
						font-size: 55px;
						line-height: 72px;
						margin-top: 5%;
						text-transform: uppercase;
						padding-left: 15px;
						width: 100%;
					}
				}

				.content {
					height: 100%;
					padding-top: 9px;
					position: absolute;
					text-align: center;
					top: 0;
					width: 100%;
					transition: all .2s linear;

					.footer {
						bottom: 2%;
						position: absolute;
						width: 100%;
						transition: all .2s linear;

						.boton {
							display: none;
							position: relative;
							visibility: hidden;
							transition: all .2s linear;

							a {
								background-color: $white;
								border-radius: 20px;
								color: $red;
								font-family: $sbold;
								font-size: 18px;
								font-weight: 800;
								padding: 9px 34px;
								text-decoration: none;
								transition: all .2s linear;

								i { color: $red; }

								&:hover {
									background-color: $yellow;
								}
							}
						}

						.precio {
							color: $white;
							font-family: $roboto;
							font-size: 16px;
							text-decoration: none;
						}

						.titulo {
							color: $white;
							font-size: 30px;
							line-height: 23px;
							font-family: $bold;
							text-transform: uppercase;
							text-decoration: none;
						}
					}

					.cat {
						color: $white;
						font-family: $roboto;
						font-size: 16px;
						text-decoration: underline;
					}

					&:hover {
						background: rgba(#5f3c13, 0.83);

						.footer {
							bottom: 39%;

							.boton {
								display: block;
								top: 41px;
								visibility: visible;
							}
						}
					}
				}

				.producto_img {
					img {
						margin: 3% auto 0;
						width: 79%;
					}
				}
				&:nth-child(2),
				&:nth-child(4),
				&:nth-child(5),
				&:nth-child(7),
				&:nth-child(10),
				&:nth-child(12),
				&:nth-child(13), {
					background: url('#{$bg}bg-productos.png') center no-repeat;
				}

				&:first-child {
					background: url('#{$bg}bg-category-name.png') center no-repeat !important;
					position: relative;

					&:before {
						cursor: pointer;
						color: $cafe;
						content: '<';
						background-color: $white;
						border-radius: 50%;
						left: 5%;
						font-size: 21px;
						font-weight: 600;
						height: 35px;
						text-align: center;
						padding: 3px 0;
						position: absolute;
						top: 5%;
						width: 35px;
						transition: all .2s linear;

						&:hover { background-color: $yellow; }
					}
				}
			}
		}
	}
	#hoy_quiero {
		box-shadow: 0 7px 18px 0px #5d5d5d;
		padding-bottom: 50px;
		
		.banner_dinos {
			background: url('#{$bg}bg-quiero-home.png') center no-repeat;
			background-size: cover;
			box-shadow: 5px 0 18px 5px;
			padding: 62px 0 20px;

			.banner_boton {
				position: relative;
				text-align: center;
				top: 33px;

				a {
					background-color: #e76b48;
					border-radius: 20px;
					color: $red;
					font-size: 18px;
					padding: 10px 25px;
					text-decoration: none;
					transition: all .2s linear;

					&:hover {
						background-color: $yellow;
					}
				}
			}

			.banner_opciones {
				margin: 0;
				min-height: 190px;
				padding: 0;
				width: 100%;

				.banner_opcion {
					display: inline-block;
					list-style: none;
					margin: 0 4%;
					padding: 0;
					position: relative;
					width: 16%;
					text-align: center;

					.opcion_icono {
						float: left;
						height: 104px;
						text-align: center;
						width: 100%;

						img {
							margin: 0 auto;
						}
					}

					.opcion_titulo {
						color: $white;
						font-family: $bold;
						font-size: 26px;
						text-transform: uppercase;
					}

					.start {
						position: absolute;
						right: -22%;
						top: 35%;
					}

					&:last-child {
						.start { display: none; }
					}
				}
			}

			.banner_titulo {
				color: #e76b48;
				font-size: 24px;
				font-family: $roboto;
				text-align: center;

				small {
					color: #e76b48;
					font-size: 40px;
					font-family: $bold;
					text-transform: uppercase;
				}
			}
		}

		.mejores_momentos {
			padding-top: 70px;

			.mejores_titulo {
				color: $cafe;
				font-family: $bold;
				font-size: 40px;
				text-align: center;
				text-transform: uppercase;
			}

			.carousel {
				margin: 0 auto;
				width: 85%;

				.owl-carousel {
					width: 100%;

					.owl-stage {
						padding-bottom: 50px;

						.owl-item {
							box-shadow: 10px 19px 44px -12px #3e3e3e;
							height: 178px;
							width: auto;

							.item {
								height: 178px;
								width: 100%;

								img {
									margin: 0;
									object-fit: cover;
									height: 100%;
									width: 100%;
								}
							}
						}
					}

					.owl-nav {
						top: 33%;
						.owl-next { right: -8% }
						.owl-prev { left: -8%; }
					}
				}
			}

		}
	}
	#lonuevo {
		.lonuevo_contenido {
			background-size: cover;
			padding: 0 0 124px;

			.owl-nav { display: none; }

			.owl-carousel {
				background: url('#{$bg}bg-header.png') center no-repeat;
				background-size: cover !important;
				.owl-item {
					.item {
						.articulo {
							margin: 15px 10px;
							position: relative;
							overflow: hidden;

							img { object-fit: cover; transition: all .3s linear; }
							
							.contenido {
								background: rgba(84,45,0,0);
								background: -moz-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
								background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(84,45,0,0)), color-stop(43%, rgba(81,35,8,0)), color-stop(100%, rgba(76,22,19,1)));
								background: -webkit-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
								background: -o-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
								background: -ms-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
								background: linear-gradient(to bottom, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cafe', endColorstr='#4c1613', GradientType=0 );
								bottom: 0;
								height: 100%;
								position: absolute;
								width: 100%;

								.bg-black {
									bottom: 0;
									padding: 0 10px;
									position: absolute;
									height: 100%;
									width: 100%;
									transition: all .2s linear;

									.footer {
										bottom: 0;
										left: 0;
										padding: 18px 10px;
										position: absolute;
										text-align: center;
										width: 100%;

										.descripcion {
											color: $white;
											display: none;
											font-size: 14px;
											font-family: $roboto;
											text-align: center;
											opacity: 0;
											position: relative;
											visibility: hidden;
											transition: all .2s linear;
										}
		
										.more {
											opacity: 0;
											margin-top: 10px;
											visibility: hidden;
											transition: all .2s linear;
											text-align: center;
			
											a {
												color: $red;
												background-color: $white;
												border-radius: 20px;
												font-family: $sbold;
												font-weight: 800;
												margin: 0 auto;
												padding: 10px 12px;
												text-decoration: none;
												transition: all .2s linear;
											}
										}
		
										.single_titulo {
											color: $white;
											font-family: $bold;
											font-size: 22px;
											position: relative;
											text-align: center;
											width: 100%;
											transition: all .2s linear;
										}
									}

								}
							}

							&:hover {
								img { transform: scale(1.3) }
								.contenido {
									.bg-black {
										background-color:rgba(#000, 0.7);
	
										.footer {
											.descripcion {
												display: block;	
												opacity: 1;
												visibility: visible;
											}								
											.more {
												opacity: 1;
												visibility: visible;
											}
										}
									}
								}
							}
						}

						.big {
							img { height: 340px; }
						}

						.small {
							img { height: 210px; }
						}
					}
				}

				.owl-dots {
					bottom: -5%;
					margin-top: 21px;
					position: absolute;
					text-align: center;
					z-index: 9;
					width: 100%;

					button {
						border-radius: 50%;
						background-color: #4f3111;
						height: 10px;
						margin: 0 10px;
						width: 10px;
						transition: all .2s linear;
					}

					.active { background-color: #d4ab74; }
				}

				.owl-nav {
					display: block;

					.owl-next { right: 0; }
					.owl-prev { left: 0; }
				}
			}

			.titulo {
				.titulo_section {
					color: $red;
					font-family: $bold;
					font-size: 40px;
					text-transform: uppercase;
					text-align: center;
				}
			}
		}
	}
	#lonuevo_single {
		#articulo {
			background: url('#{$bg}bg-lonuevo.png') center no-repeat;
			background-size: cover;
			padding: 84px 0;

			.articulo_contenido {
				.articulo_descripcion {
					box-shadow: 0px 0px 10px 0px #3c230c;
					background-color: #fff;
					padding: 0 5%;

					.redes {
						height: 60px;
						text-align: right;

						.text {
							color: $red;
							font-family: $roboto;
							font-size: 13px;
							margin-right: 25px;
						}

						.item {
							float: left;

							a {
								margin: 0 7px;
								i {
									color: $red;
									font-size: 16px;
								}
							}
						}
					}

					p {
						color: $red;
						font-size: $roboto;
					}

					.img-ppal {
						margin: 0 -5%;
						img { width: 100%; }
					}
				}

				.articulo_header {
					position: relative;

					.articulo_titulo {
						color: $red;
						font-family: $bold;
						font-size: 30px;
						padding-left: 7%;
						position: relative;
						text-transform: uppercase;
	
						&::before {
							cursor: pointer;
							background-color: $cafe;
							border-radius: 50%;
							color: $white;
							content: '<';
							left: 0;
							height: 49px;
							padding-top: 9px;
							position: absolute;
							text-align: center;
							top: -9px;
							width: 49px;
						}
					}
					.redes {
						position: absolute;
						right: 0;
						top: 6px;

						.text {
							color: $red;
							font-family: $roboto;
							font-size: 13px;
							margin-right: 25px;
						}

						.item {
							float: left;

							a {
								margin: 0 7px;
								i {
									color: $red;
									font-size: 16px;
								}
							}
						}
					}
				}

				.interesar {
					padding: 0 7%;
					.titulo_interesar {
						color: $red;
						font-family: $bold;
						font-size: 40px;
						text-align: center;
						text-transform: uppercase;
						width: 100%;
					}

					.owl-carousel {
						.owl-item {
							.item {
								box-shadow: 0px 0px 10px 0px #000;
								margin: 4% auto;
								max-height: 180px;
								overflow: hidden;
								position: relative;
								width: 94%;

								a {
									img {
										object-fit: cover;
										width: 100%;
										transition: all .3s linear;
									}
									
									.content {
										background-color: rgba(#000, 0.70);
										left: 0;
										height: 100%;
										padding-top: 5%;
										opacity: 0;
										position: absolute;
										text-align: center;
										top: 0;
										visibility: hidden;
										width: 100%;
										transition: all .2s linear;

										.descripcion {
											color: $white;
											font-family: $roboto;
											font-size: 16px;
											margin: 0 auto;
											width: 80%;
										}

										.titulo {
											color: $white;
											font-family: $bold;
											font-size: 30px;
										}
									}

									&:hover {
										img {
											transform: scale(1.2);
										}

										.content {
											opacity: 1;
											visibility: visible;
										}
									}
								}
							}
						}
						.owl-nav {
							top: 44%;

							.owl-next { right: -6%; }
							.owl-prev { left: -6%; }
						}
					}
				}

				.sidebar {
					.recomendados {
						.recomendados_productos {
							border: dashed $red 1px;
							margin: 0 0 20px;
							padding: 10px;
		
							.recomendados_producto {
								background: url('#{$bg}bg-productos-recomendados.png') center no-repeat;
								background-size: cover;
								display: block;
								list-style: none; 
								margin: 0 4% 11px 0;
								padding: 7% 0;
								position: relative;
								width: 100%;
		
								.content_product {
									height: 100%;
									padding-top: 9px;
									position: absolute;
									text-align: center;
									top: 0;
									width: 100%;
									transition: all .2s linear;
		
									.content_footer {
										bottom: 2%;
										position: absolute;
										width: 100%;
										transition: all .2s linear;
		
										.item_boton {
											display: none;
											position: relative;
											visibility: hidden;
											transition: all .2s linear;
		
											a {
												background-color: $white;
												border-radius: 20px;
												color: $red;
												font-family: $roboto;
												font-size: 18px;
												padding: 9px 34px;
												text-decoration: none;
												transition: all .2s linear;
		
												i { color: $red; }
		
												&:hover {
													background-color: $yellow;
												}
											}
										}
		
										.producto_precio {
											color: $white;
											font-family: $roboto;
											font-size: 16px;
											text-decoration: none;
										}
		
										.producto_titulo {
											color: $white;
											font-size: 30px;
											line-height: 18px;
											font-family: $bold;
											text-transform: uppercase;
											text-decoration: none;
										}
									}
		
									.producto_cat {
										color: $white;
										font-family: $roboto;
										font-size: 16px;
										text-decoration: underline;
									}
		
									&:hover {
										background: rgba(#5f3c13, 0.83);
		
										.content_footer {
											bottom: 39%;
		
											.item_boton {
												display: block;
												top: 41px;
												visibility: visible;
											}
										}
									}
								}
		
								.producto {
									img {
										margin: 0 auto;
										width: 78%;
									}
								}
							}

							.titulo_recomendados {
								color: $red;
								font-family: $bold;
								font-size: 30px;
								text-align: center;
								text-transform: uppercase;
							}
						}
					}
				}
			}
		}
	}
	#mapa {
		.mapa_contenido {
			position: relative;

			.informacion {
				background: url('#{$bg}bg-info_map.png') center no-repeat;
				background-size: cover;
				box-shadow: 0px 0px 42px -5px #000;
				max-width: 400px;
				padding: 0 21px;
				position: absolute;
				right: 5%;
				top: 15%;
				opacity: 0;
				visibility: hidden;

				.close_information {
					cursor: pointer;
					position: absolute;
					right: 7%;
					top: 3%;

					i {
						color: $red;
						font-size: 20px;
					}
				}

				.detalles {
					margin: 0;
					padding-left: 10%;
					padding-right: 4%;

					.detalle {
						color: $red;
						list-style: none;
						font-family: $roboto;
						font-size: 15px;
						padding: 0;
						position: relative;
						margin: 0 0 15px;

						i {
							position: absolute;
							left: -22px;
							top: 2px;
						}
					}
				}

				.detalles_restaurante {
					margin: 0;
					padding: 0;
					text-align: center;

					.detalle_restaurante {
						display: inline-block;
						list-style: none;
						margin: 10px;
						text-align: center;
						width: 30%;

						.title {
							color: $red;
							font-family: $bold;
							font-size: 15px;
							text-transform: uppercase;
						}
					}
				}

				.btn_filtrar {
					text-align: center;

					a {
						color: $red;
						background-color: #e76b48;
						border-radius: 20px;
						font-family: $roboto;
						font-size: 18px;
						padding: 10px 25px;
						position: relative;
						top: 10px;
					}
				}

				.pregunta {
					margin-bottom: 20px;
					text-align: center;
					width: 100%;

					a {
						color: $red;
						font-family: $sregular;
						font-size: 14px;
					}
				}

				.line2 {
					background: url('#{$bg}bg-hr.png') center no-repeat;
					border: none;
					margin: 0 0 15px;
					height: 5px;
					width: 100%;
				}

				.titulo {
					color: $red;
					font-family: $bold;
					font-size: 35px;
				}

				.titulo_second {
					color: $red;
					font-family: $sregular;
					font-size: 20px;
					margin-bottom: 21px;
					text-align: center;
				}
			}
		}
	}
	#principal {
		height: 84vh;
		padding: 4% 0 2%; 
		position: relative;
		z-index: 4;

		.copyright {
			color: #606060;
			font-size: 14px;
			margin: 0 auto;
			font-family: $roboto;
			text-align: center;
			width: 100%;
		}

		.lampara {
			left: 40%;
			top: -160px;
			position: absolute;
			z-index: 5;

			img {
				transform-origin: 50% 0%;
				animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
				width: 100%;
			}
		}

		.menu_hamburguesa {
			margin: 0 auto;
			left: 37%;
			position: absolute;
			top: 11%;
			text-align: center;
			width: 29%;
			z-index: 9;

			h1 {
				margin: 0;
				color: $cafe;
				font-family: $bold;
				font-size: 32px;

				small {
					cursor: pointer;
					color: #53211f;
					font-family: $roboto;
					position: relative;

					a {
						color: #53211f;
						font-family: $roboto;
						text-decoration: none;
						position: relative;
						z-index: 9;

						i {
							color: $cafe;
							left: -21px;
							position: absolute;
							top: 2px;
							transition: all .2s linear;
						}

						&:hover {
							i {
								left: 76px;
								transition: all .2s linear;
							}
						}
					}
				}
			}

			.ico_arrow {
				margin: 31px auto;
				position: relative;
				top: -41px;

				img { cursor: pointer; }
			}

			.menu {
				height: 200px;
				position: relative;
				top: -17px;
				width: 100%;
			}

			.menu_footer {
				position: relative;
    			top: -25px;
			}
		}
		
		.nav_redes {
			bottom: 5%;
			right: 5%;
			position: absolute;

			ul {
				margin: 0;
				padding: 0;

				li {
					background-color: #69311e;
					border-radius: 50%;
					display: inline-block;
					list-style: none;
					height: 25px;
					margin: 0 3px;
					padding-top: 3px;
					text-align: center;
					width: 25px;

					a {
						padding: 5px;

						i {
							color: $white;
						}
					}
				}
			}
		}
	}
	#producto {
		.producto {
			background: url('#{$bg}bg-producto.png') center no-repeat;
			background-size: cover;
			padding: 30px 0 40px;
			width: 100%;

			.dats {
				padding-left: 23%;

				.producto_categoria {
					color: $red;
					font-size: 16px;
					font-family: $sregular;
					margin-top: 35px;
					text-decoration: underline;
				}
				.producto_caracteristicas {
					border: dashed 1px $red;
					margin: 0;
					padding: 0;
					margin-top: 12px;

					li {
						list-style: none;
						margin: 0;
						border-bottom: dashed 1px $red;
						padding: 10px 19px;

						.item {
							color: $red;
							font-size: 18px;
							font-family: $sregular;
						}

						.price {
							color: $red;
							font-size: 18px;
							font-family: $sregular;
							float: right;
							font-weight: 800;
							position: relative;
							top: -28px;
						}

						&:last-child { border: none; }
					}
				}
				.producto_descripcion {
					color: $red;
					font-size: 16px;
					font-family: $sregular;
					margin-top: 12px;
				}
				.producto_nombre {
					color: $red;
					font-family: $bold;
					font-size: 70px;
					line-height: 51px;
					width: 81%;
				}
				.relacionados {
					margin-top: 50px;

					.productos_relacionados {
						margin: 0;
						padding: 0;
						.producto {
							background-size: cover !important;
							display: inline-block;
							height: 143px;
							list-style: none;
							margin: 0;
							padding: 0;
							position: relative;
							width: 49%;

							.info {
								background: rgba(84,45,0,0);
								background: -moz-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
								background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(84,45,0,0)), color-stop(43%, rgba(81,35,8,0)), color-stop(100%, rgba(76,22,19,1)));
								background: -webkit-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
								background: -o-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
								background: -ms-linear-gradient(top, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
								background: linear-gradient(to bottom, rgba(84,45,0,0) 0%, rgba(81,35,8,0) 43%, rgba(76,22,19,1) 100%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$cafe', endColorstr='#4c1613', GradientType=0 );
								height: 100%;
								left: 0;
								position: abosulte;
								text-align: center;
								top: 0;
								width: 100%;
								transition: all .2s linear;

								.title {
									bottom: 10%;
									color: $white;
									font-family: $bold;
									font-size: 30px;
									position: absolute;
									text-align: center;
									text-transform: uppercase;
									width: 100%;
									transition: all .2s linear;
								}

								.more {
									position: relative;
									top: 0;
									opacity: 0;
									visibility: hidden;
									transition: all .2s linear;

									a {
										color: $cafe;
										background-color: $white;
										border-radius: 50%;
										padding: 10px 12px;
										transition: all .2s linear;

										&:hover {
											background-color: $yellow;
										}
									}
								}
								
								&:hover {
									background-color: rgba(84,45,0, .90);

									.title { bottom: 20%; }

									.more {
										opacity: 1;
										top: 43px;
										visibility: visible;
									}
								}
							}
						}
					}

					.titulo {
						color: $cafe;
						font-size: 30px;
						font-family: $bold;
						text-align: center;
						text-transform: uppercase;
					}
				}

				.volver {
					position: relative;
					a {
						color: $red;
						font-family: $bold;
						font-size: 30px;
						text-transform: uppercase;
						text-decoration: none;

						span {
							border-radius: 50%;
							background-color: #4f3111;
							color: #fff;
							font-size: 22px;
							font-weight: 800;
							font-family: LunchBoxBold;
							padding: 4px 13px 2px 12px;
							position: relative;
							text-decoration: none;
							top: -4px;
							left: -7px;
						}
					}
				}
			}

			.producto_single {
				padding-top: 57px;

				.img {
					background: url('#{$bg}bg-single-producto.png') center no-repeat;
					background-size: cover immportant;
					box-shadow: 6px 9px 23px -8px #777;
					border-radius: 50%;
					width: 553px;
					margin: 0 auto;
					text-align: center;

					img {
						margin: 0 auto;
						position: relative;
						top: 50px;
						width: 100%;
					}
				}
			}
		}
	}
	#productos_home {
		padding: 44px 0 64px; 

		.content {
			.content_tiulo {
				color: $cafe;
				font-size: 40px;
				font-family: $bold;
				text-align: center;
				text-transform: uppercase;
			}

			.nuevos {
				margin: 0 auto;
				width: 96%;

				.owl-carousel {
					.item {
						background-size: cover;
						height: 525px;
						position: relative;
						width: 100%;

						.nuevo_content {
							background: rgba(#000, 0.80);
							left: 0;
							top: 0;
							height: 100%;
							position: absolute;
							text-align: center;
							width: 100%;

							.content {
								position: absolute;
								bottom: 12%;

								.nuevo_boton {
									margin: 0 auto;
									position: relative;
									top: 20px;
									text-align: center;

									a {
										color: $red;
										background-color: $white;
										border-radius: 20px;
										font-size: 18px;
										text-decoration: none;
										padding: 12px 25px;
										transition: all .2s linear;

										&:hover {
											background-color: $yellow;
										}
									}
								}

								.nuevo_descripcion {
									color: $white;
									font-family: $roboto;
									font-size: 16px;
									margin: 0 auto;
									width: 80%;
								}

								.nuevo_titulo {
									color: $white;
									font-family: $bold;
									font-size: 30px;
									text-transform: uppercase;
								}
							}

						}
					}

					.owl-nav {
						top: 43%;

						.owl-next { right: -4%; }
						.owl-prev { left: -4%; }
					 }
				}
			}

			.recomendados {
				.recomendados_productos {
					margin: 0;
					padding: 0;

					.recomendados_producto {
						background: url('#{$bg}bg-productos-recomendados.png') center no-repeat;
						background-size: cover;
						float: left;
						list-style: none; 
						margin: 0 18px 16px 0;
						height: 273px;
						padding: 7% 0;
						position: relative;
						width: 47%;

						.content_product {
							height: 100%;
							padding-top: 9px;
							position: absolute;
							text-align: center;
							top: 0;
							width: 100%;
							transition: all .2s linear;

							.content_footer {
								bottom: 2%;
								position: absolute;
								width: 100%;
								transition: all .2s linear;

								.item_boton {
									display: none;
									position: relative;
									visibility: hidden;
									transition: all .2s linear;

									a {
										background-color: $white;
										border-radius: 20px;
										color: $red;
										font-family: $roboto;
										font-size: 18px;
										padding: 9px 34px;
										text-decoration: none;
										transition: all .2s linear;

										i { color: $red; }

										&:hover {
											background-color: $yellow;
										}
									}
								}

								.producto_precio {
									color: $white;
									font-family: $roboto;
									font-size: 16px;
									text-decoration: none;
								}

								.producto_titulo {
									color: $white;
									font-size: 30px;
									line-height: 18px;
									font-family: $bold;
									text-transform: uppercase;
									text-decoration: none;
								}
							}

							.producto_cat {
								color: $white;
								font-family: $roboto;
								font-size: 16px;
								text-decoration: underline;
							}

							&:hover {
								background: rgba(#5f3c13, 0.83);

								.content_footer {
									bottom: 39%;

									.item_boton {
										display: block;
										top: 41px;
										visibility: visible;
									}
								}
							}
						}

						.producto {
							img {
								margin: 0 auto;
								width: 88%;
							}
						}
					}
				}
			}
		}
	}
	.section {
		background: url('#{$bg}bg-ppal.png') center fixed no-repeat;
		background-size: cover;
		padding-bottom: 60px;
		width: 100%;
	}
	#sistemap {
		.menu_global {
			padding: 51px 12% 90px;

			.categorias {
				margin: 0;
				padding: 0;

				.categoria {
					display: inline-block;
					border: dashed 1px $cafe;
					margin: 0 20px;
					padding: 10px;
					text-align: center;

					ul {
						margin: 0;
						padding: 0;

						li {
							display: inline-block;

							i {
								border-radius: 50%;
								background-color: $cafe;
								color: $white;
								height: 25px;
								padding-top: 5px;
								text-align: center;
								width: 25px;
							}
						}
					}

					.text {
						a {
							color: $cafe;
							font-family: $roboto;
							font-size: 25px;
							letter-spacing: -1px;
							font-weight: 800;
							text-decoration: none;
							text-transform: uppercase;
						}
					}
				}

				.redes {
					min-height: 57px;
					position: relative;
					top: -10px;
				}
			}

			.global_titulo {
				margin: 0 0 30px;
				
				span {
					color: $cafe;
					font-family: $bold;
					font-size: 30px;
					text-transform: uppercase;
					position: relative;

					&::after {
						content: '';
						background: url('#{$ico}line-global.png') center no-repeat;
						background-size: contain;
						bottom: -5px;
						height: 7px;
						left: 0;
						position: absolute;
						width: 100%;
					}
				}
			}
		}
		.menu_sistemap {
			background: url('#{$bg}bg-productos.png') center no-repeat;
			background-size: cover !important;
			box-shadow: 0px 10px 40px -5px #000;
			padding: 51px 12%;

			.items {
				margin: 40px 0 0;
				padding: 0;

				.item {
					display: inline-block;
					list-style: none;
					margin-bottom: 40px;
					position: relative;
					width: 30%;

					a {
						color: $white;
						font-family: $roboto;
						font-size: 23px;
						text-transform: uppercase;
						font-weight: 800;
						text-decoration: none;

						&::after {
							content: '';
							background: url('#{$ico}start.png') center no-repeat;
							height: 28px;
							position: absolute;
							right: 28%;
							top: 2%;
							width: 28px;
						}

						&::before {
							content: '';
							height: 41px;
							position: absolute;
							left: -21%;
							width: 41px;
						}
					}

					.inicio {
						&::before { background: url('#{$ico}map-inicio.png') right no-repeat }
					}
					.menu {
						&::before { background: url('#{$ico}map-menu.png') right no-repeat }
					}
					.restaurantes {
						&::before { background: url('#{$ico}map-restaurante.png') right no-repeat }
					}
					.lo_nuevo {
						&::before { background: url('#{$ico}map-lonuevo.png') right no-repeat }
					}
					.hablanos {
						&::before { background: url('#{$ico}map-restaurante.png') right no-repeat }
					}
					.restaurantes {
						&::before { background: url('#{$ico}map-hablamos.png') right no-repeat } 
					}
					
					&:last-child,
					&:nth-child(3) {
						a {
							&::after { content: none; }
						}
					}
				}
			}

			.titulo_menu {
				margin: 0;

				span {
					color: #e76b48;
					font-family: $bold;
					font-size: 30px;
					text-transform: uppercase;
					position: relative;
					
					&::after {
						content: '';
						background: url('#{$ico}line-menu.png') center no-repeat;
						background-size: contain;
						bottom: -5px;
						height: 7px;
						left: 0;
						position: absolute;
						width: 100%;
					}
				}
	
			}
		}

	}
	#slider_promocional {
		.owl-carousel {
			position: relative;
			width: 100%;

			.owl-item {
				.item {
					.item_datos {
						background-size: cover !important;
						padding: 6% 10% 10%;

						.item_boton {
							position: relative;
							top: 30px;

							a {
								background-color: $white;
    							border-radius: 20px;
								color: $red;
								font-family: $roboto;
								padding: 10px 27px;
								text-decoration: none;
								transition: all .2s linear;

								i { color: $red; }

								&:hover {
									background-color: $yellow;
								}
							}
						}

						.item_descripcion {
							color: #fcdd88;
							font-family: $roboto;
							margin-top: 35px;
							width: 30%;
						}

						.item_titulo {
							color: #fcdd88;
							font-family: $bold;
							font-size: 70px;
							line-height: 70px;
							text-transform: uppercase;
							transition: all .2s linear;
						}

						.item_boton {
							a {
								.item_titulo &:hover  {
									text-decoration: underline;
								}
							}
						}
					}
				}
			}

			.owl-dots {
				bottom: 5%;
				display: block;
				position: absolute;
				text-align: center;
				width: 100%;

				.owl-dot {
					border-radius: 50%;
					background-color: #fdf5e3;
					height: 16px;
					margin: 0 4px;
					width: 16px;
					transition: all .2s linear;

					&:hover {
						background-color: $yellow;
					}
				}
				
				.active {
					background-color: $yellow;
				}

			}
		}
	}
	#sostenibilidad {
		.sostenibilidad {
			background: url('#{$bg}bg-lonuevo.png') center no-repeat;
			background-size: cover;
			padding: 40px 5% 90px;

			h1,h2,h3 {
				color: $cafe;
				font-family: $bold;
				font-size: 30px;
				text-transform: uppercase;
			}

			hr {
				border: dashed $cafe 1px;
				height: 0;
				width: 100%;
			}

			img { margin: 20px 0; }
			
			p,span, a {
				color: $cafe;
				font-size: 16px;
				font-family: $sregular;
			}

			strong {
				font-family: $sbold;
				text-decoration: underline;
			}

			.link {
				color: $red;
				background-color: #e76b48;
				font-family: $roboto;
				margin: 0 auto;
				padding: 10px 20px;
				border-radius: 20px;
			}
		}
	}
	#tabs_carousel {
		.nav-tabs {
			border: none;
			margin: 0 auto;
			text-align: center;
			width: 100%;
			
			li {
				margin: 0 auto;
				width: 35%;
				a {
					background-color: #3f2506;
					border-radius: 0;
					border: none;
					color: $white;
					font-family: $bold;
					font-size: 30px;
					margin: 0;
					transition: all .2s linear;
				}
			}
			.active {
				a {
					background-color: #e76b48;
					color: #010101;
				}
			}

		}
	}
	.modal {
		.modal-dialog {
			height: 80%;
			width: 80%;

			.modal-content {
				height: 100%;
				position: relative;

				iframe {
					height: 100%;
					width: 100%;
				}

				.close {
					position: absolute;
					right: 5%;
					text-shadow: none;
					top: 5%;
					opacity: 1;

					span {
    					border-radius: 50%;
						background-color: #f2ba13;
						color: #53211f;
						padding: 1px 7px;
					}
				}
			}
		}
	}
	#error {
		position: relative;

		.error_contenido {
			height: 90vh;
			padding: 30px 0 10px;

			.dats_error { 

				.alerta_error {
					color: $red;
					font-size: 90px;
					text-align: center;
					font-family: $bold;
					text-transform: uppercase;
				}

				.descripcion_error {
					color: $red;
					font-size: 16px;
					font-family: $sregular;
					font-weight: 500;
					margin: 10px auto;
					text-align: center;
				}

				.opciones_error {
					margin: 110px 0 0;
					padding: 0;
					text-align: center;

					.item_menu {
						a {
							position: relative;

							&::before {
								content: "";
								background: url('#{$ico}menu_hamburguer.png') center no-repeat;
								height: 78px;
								left: -16px	;
								top: -80px;
								position: absolute;
								width: 77px;
							}
						}
					}

					.item_restaurante {
						a {
							position: relative;

							&::before {
								content: "";
								background: url('#{$ico}menu_restaurante.png') center no-repeat;
								height: 79px;
								left: 8px;
								top: -80px;
								position: absolute;
								width: 90px;
							}
						}
					}

					.opcion {
						display: inline-block;
						margin: 0 40px;

						a {
							color: $red;
							font-family: $bold;
							font-size: 30px;
							text-decoration: none;
						}
					}
				}
			}
		}

		
		.lampara {
			left: 49%;
			top: -10%;
			position: absolute;
			z-index: 5;

			img {
				transform-origin: 50% 0%;
				animation: swing 2s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
				width: 81%;
			}

			&::before {
				background-color: #3b3b3b;
				content: '';
				left: 34%;
				height: 27px;
				position: absolute;
				top: -11%;
				width: 2px;
			}
		}
	}

	.volver_general {
		color: $white;	
		a {
			text-decoration: none;
			span {
				border-radius: 50%;
				background-color: #4f3111;
				color: #fff;
				font-size: 22px;
				font-weight: 800;
				font-family: LunchBoxBold;
				padding: 4px 13px 2px 12px;
				position: relative;
				text-decoration: none;
				top: -4px;
				left: -7px;
			}
		}
	}
}

.miga-bg {
	background: url('#{$bg}bg-miga.png') center no-repeat;
	background-size: cover;
	.miga {
		height: 54px;
		padding-left: 15px;
		padding-top: 16px;

		.item {
			float: left;
			margin-right: 20px;
			position: relative;

			a {
				border: solid #9a583b 1px;
				border-radius: 20px;
				color: #9a583b;
				font-family: $sregular;
				font-size: 14px;
				padding: 3px 21px;
				text-decoration: none;
				transition: all .2s linear;

				&:hover { background-color: $yellow; }
			}

			&:after {
				content: '';
				background-color: #9a583b; 
				height: 1px;
				right: -20px;
				top: 10px;
				position: absolute;
				width: 20px;
			}

			&:last-child {
				&:after { content: none; }
			}
		}

		.active {
			a {
				border: solid $red 1px;
				color: $red;
			}
		}
	}
}

.carousel-indicators,
.carousel-control 	 { z-index: 1 !important; }