 #navbar {
	background: url('#{$bg}bg-ppal.png') center no-repeat;
	background-size: cover;
	height: 100vh;
	padding: 30px 1% 48px;
	position: fixed;
	text-align: center;
	top: 0;
	width: 16.6%;
	z-index: 4;

	.logo {
		width: 100%;

		img {
			margin: 0 auto;
			width: 95px;
		}
	}

	.footer_nav {
		bottom: 107px;
		left: 0;
		position: absolute;
		width: 100%;

		.fields {
			position: relative;
			width: 100%;

			.input-group {
				display: table;
				width: 100%;
			}

			button {
				border: none;
				background: transparent;
			}

			.input-group-btn {
				display: initial;
				position: absolute;
				right: 60px;
				top: 0;
			}

			input[type=search] {
				color: #481210;
				border: none;
				border-radius: 20px;
				box-shadow: inset 2px 2px 10px -1px #616161;
				font-family: $roboto;
				font-size: 14px;
				margin-left: 19px;
				padding: 10px;
				width: 84%;
			}
		}

		.news {
			position: relative;
			text-align: center;
			top: 21px;

			a {
				border-radius: 20px;
				box-shadow: 1px 1px 4px 0px #777;
				color: #481210;
				font-size: 14px;
				font-family: $roboto;
				background-color: #fdf5e3;
				padding: 10px 13%;
				text-decoration: none;
				transition: all .2s linear;

				&:hover {
					background-color: #fbba00;
				}
			}
		}
	}


	.open-nav {
		cursor: pointer;
		left: 0;
		top: 41%;
		position: absolute;
		width: 100%;

		.l1,
		.l3 { background-color: #fbba00; position: relative; }
		.l2 { background-color: #4f3111; }

		.line {
			border-radius: 20px;
			height: 16px;
			margin: 10px auto;
			max-width: 140px;
			width: 113px;
			transition: all .2s linear;
		}

		.name {
			color: #481210;
			font-size: 16px;
			font-family: $roboto;
		}

		&::after {
			content: "";
			background: url('#{$ico}border-hamburguesa.png') center no-repeat;
			height: 192px;
			width: 55px;
			position: absolute;
			left: 9%;
			top: -55px;
			opacity: 0;
			transition: all .2s linear;
		}

		&::before {
			content: "";
			background: url('#{$ico}border-hamburguesa2.png ') center no-repeat;
			height: 192px;
			width: 55px;
			position: absolute;
			right: 9%;
			top: -55px;
			opacity: 0;
			transition: all .2s linear;
		}
	}

	.open {
		&::after,
		&::before { opacity: 1; }		
	}
}

#main-menu {
	height: 100%;
	padding-left: 16%;
	z-index: 2;
	position: relative;
	

	.nav_ppal {
		margin: 0;
		height: 0vh;
		padding: 0;
		position: fixed;
		top: -100%;
		width: 100%;

		.volver_menu {
			color: $white;
			cursor: pointer;
			font-family: $roboto;
			font-size: 19px;
			font-weight: 200;
			position: absolute;
			right: 20%;
			text-transform: uppercase;
			top: 7%;
			z-index: 9999;

			img {
				position: relative;
				top: -1px;
				right: 5px;
			}
		}

		.item_nav {
			background-size: cover !important;
			float: left;
			list-style: none;
			margin: 0;
			height: 75vh;
			padding: 0;
			position: relative;
			text-align: center;
			width: 21%;
			transition: all .3s linear;

			a {
				color: #fff;
				font-family: LunchBoxBold;
				font-size: 25px;
				text-transform: uppercase;
				text-decoration: none;
				position: relative;
				top: -10%;
				width: 100%;
				padding: 100% 29%;

				&::after,
				&::before {
					content: "";
					top: 37%;
					opacity: 0;
					height: 137px;
					width: 38px;
					position: absolute;
					transition: all .2s linear;
				}

				&::after {
					background: url('#{$ico}icoitem_hoverr.png') center no-repeat;
					right: 10%;
				}

				&::before {
					background: url('#{$ico}icoitem_hover.png') center no-repeat;
					left: 10%;
				}
			}

			&::before {
				background-color: rgba($color: #282323, $alpha: 0.8);
				content: "";
				display: table;
				height: 75vh;
				left: 0;
				top: 0;
				width: 100.4%;
				position: absolute;
				transition: all .2s linear;
			}

			&:hover {
				transform: scale(1.2,1.2);

				&::before {
					background-color: rgba($color: #282323, $alpha: 0.1);
				}
				a {
					&::after,
					&::before {
						opacity: 1;
					}
				}
			}
		}

		.item1 { background: url('#{$bg}bg_menu_restaurantes.png') center no-repeat; }
		.item2 { background: url('#{$bg}bg_menu_servicios.png') center no-repeat; }
		.item3 { background: url('#{$bg}bg_menu_lonuevo.png') center no-repeat; }
		.item4 { background: url('#{$bg}bg_menu_hablanos.png') center no-repeat; }

	}

	.nav_second {
		background-color: #282323;
		bottom: 17px;
		right: -100%;
		height: 25vh;
		margin: 0;
		text-align: right;
		padding: 10vh 8% 0 0;
		padding-top: 10vh;
		position: fixed;
		width: 100%; 

		li {
			display: inline-block;
			margin: 0 15px;
			position: relative;

			a {
				color: #998d73;
				font-family: $roboto;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 1px;
				text-decoration: none;
				position: relative;

				&::before {
					content: "";
					background-color: #998d73;
					bottom: -15px;
					height: 1px;
					left: 0;
					position: absolute;
					width: 100%;
					visibility: hidden;
					transition: all .2s linear;
				}

				&:hover {
					&::before {
						bottom: -5px;
						visibility: visible;
					}
				}
			}

			&::after {
				content: "/";
				color: #998d73;
				font-size: 18px;
				font-weight: 600;
				position: absolute;
				right: -13px;
				top: -1px;
			}

			&:last-child {
				&::after { content: none; }
			}
		}
	}
}
